<!-- Navbar -->
<nav class="navbar">
  <div class="logo">OLX KZ</div>

  <div class="links">
    <!-- Кнопка открытия модалки -->
    <button (click)="showForm = true" *ngIf="isLoggedIn" class="post-btn modern-btn">Подать объявление</button>

    <!-- Модалка -->
    <div class="modal-backdrop" *ngIf="showForm">
      <div class="modal-window animate-scaleIn">
        <!-- Закрыть -->
        <button class="modal-close" (click)="closeForm()">&times;</button>

        <h2 class="modal-title">
          {{ editMode ? 'Редактировать товар' : 'Добавить товар' }}
        </h2>

        <form (ngSubmit)="editMode ? updateProduct() : submitProduct()" #productForm="ngForm">
          <input type="text" name="title" [(ngModel)]="newProduct.title" placeholder="Название товара" required />
          
          <textarea name="description" [(ngModel)]="newProduct.description" placeholder="Описание товара" rows="3" required></textarea>
          
          <input type="number" name="price" [(ngModel)]="newProduct.price" placeholder="Цена в ₸" required />
          
          <select name="category" [(ngModel)]="newProduct.category" required>
            <option value="" disabled selected>Выберите категорию</option>
            <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
          </select>
          <div *ngIf="errorMessage" class="error-msg">
            {{ errorMessage }}
          </div>


          <div class="form-actions">
            <button type="submit" class="btn-submit">
              {{ editMode ? 'Сохранить' : 'Добавить' }}
            </button>
            <button type="button" class="btn-cancel" (click)="closeForm()">Отмена</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Не авторизован -->
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">Войти</a>
    </ng-container>

    <!-- Авторизован -->
    <ng-container *ngIf="isLoggedIn">
      <div class="profile-menu" (click)="toggleDropdown()" tabindex="0" (blur)="hideDropdown()">
        <img src="https://i1.sndcdn.com/avatars-4CyQHzjhyL68JW5K-iYFVDw-t1080x1080.jpg" alt="Avatar" class="avatar" />
        <span>{{ currentUser.username }}</span>

        <div class="dropdown" *ngIf="showDropdown">
          <button (click)="logout()">Выйти</button>
        </div>
      </div>
    </ng-container>
  </div>
</nav>

<section class="search-section">
  <div class="search-box">
    <input type="text" placeholder="🔍 Поиск товаров по имени..." [(ngModel)]="searchTerm"/>
    <button (click)="searchProducts()">Искать</button>
    <button (click)="resetFilter()" class="bt2">Отменить</button>
  </div>

</section>

<!-- Категории -->
<section class="categories">
  <h3 class="fw-bold">Категории</h3>
  <div class="category-list">
    <div class="category" *ngFor="let cat of categories" (click)="filterByCategory(cat._id)">
      <a class="category-card">
        <img src='https://www.milroystuxedos.com/content/images/thumbs/default-image_450.png' alt="{{ cat.name }}">
        <p>{{ cat.name }}</p>
      </a>
    </div>
    <!-- <button (click)="resetFilter()">Показать все</button> -->
  </div>
  
</section>

<!-- Баннер -->
<!-- <section class="banner">
  <img src="https://mydukaan.io/blog/wp-content/uploads/Frame-1.png" alt="Скидки" class="banner-image" />
</section> -->

<!-- Верхняя панель фильтров -->
<section class="filter-bar" style="display: flex; align-items: center; padding: 0 1rem; margin-bottom: 1rem;">
  <h3 class="fw-bold">Все товары</h3>

  <div style="display: flex; align-items: center; gap: 0.5rem;">
    <label for="sortSelect" class="fw-bold">Сортировать по цене:</label>
    <select id="sortSelect" [(ngModel)]="sortOrder" (change)="sortProducts()">
      <option value="none">Без сортировки</option>
      <option value="asc">Сначала дешевые</option>
      <option value="desc">Сначала дорогие</option>
    </select>
  </div>
</section>

<!-- Сетка товаров -->
<section class="product-grid">
  <div class="product" *ngFor="let product of filteredProducts">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
      alt="{{ product.title }}"
      class="product-image"
      [routerLink]="['/product', product._id]"
    />
    <h4>{{ product.title }}</h4>
    <p>{{ product.price }} ₸</p>
    <div *ngIf="isMyProduct(product)" class="btns">
      <button (click)="deleteProduct(product._id)" class="btn-danger">Удалить</button>
      <button (click)="editProduct(product)" class="btn-warning">Обновить</button>
    </div>
  </div>
</section>

<footer class="footer-container">
  <div class="footer-logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE42TE9vxpwWvB_abpGkBzFyesMOsYxil7lF9m6xuG16dysQ23l9kyeZx6mykiTbCYj2k&usqp=CAU" alt="OLX Logo" class="olx-logo" />
  </div>

  <div class="footer-text">
    <p class="footer-title">Крупнейший онлайн-сервис объявлений Казахстана</p>
    <p>
      Все онлайн-объявления Казахстана на OLX – здесь вы найдете то, что искали! Нажав на кнопку "Подать объявление", вы сможете разместить объявление на любую тематику легко и быстро.
    </p>
    <p>
      С помощью сервиса OLX вы сможете купить или продать из рук в руки практически все, что угодно.
    </p>
  </div>

  <div class="footer-socials">
    <p>Сообщества OLX.kz в социальных сетях:</p>
    <div class="icons">
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
    </div>
  </div>
</footer>
